.rec-h1 {
  font-family: "Merriweather", "Poppins", sans-serif;
  font-size: 2em;
  color: #444;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 50px;
}

.rec-container {
  font-family: "Merriweather", "Poppins", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  margin: 60px auto;
  margin-bottom: 100px;
  padding: 0 80px;
  max-width: 2200px;
}

.rec-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bold {
  font-weight: bold;
}

.rec-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.internship-content p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 0 10px;
  text-align: center;
  font-size: 1rem;
}

.rec-right {
  width: 40%;
}

.image-holder {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.image-holder {
  max-width: 500px;
  min-width: 400px;
}

.cursor {
  position: absolute;
  height: 70%;
  width: 40%;
  top: -10px;
  right: 50px;
  transform: rotate(-40deg);
  cursor: pointer;
}

.rec-right .holder-pic {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pdf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pdf-content {
  position: relative;
  width: 50vw;
  height: 100vh;
  background: #fff;
  padding: 20px;
}

.pdf-content embed {
  width: 100%;
  height: 100%;
}

.glow-sentence {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 500px;
  min-width: 400px;
  animation: flickerGlow 1.5s infinite alternate;
}

@keyframes flickerGlow {
  0% {
    opacity: 0.5;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
      0 0 12px rgba(255, 255, 255, 0.6);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
      0 0 15px rgba(255, 255, 255, 0.8);
  }
  100% {
    opacity: 0.5;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
      0 0 12px rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 2000px) {
  .internship-content p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1180px) {
  .rec-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
  }

  .glow-sentence {
    margin: 10px auto;
  }

  .rec-left {
    width: 70%;
  }

  .rec-right {
    width: 100%;
  }

  .image-holder {
    width: 85%;
    margin: 0 auto;
  }

  .pdf-content {
    width: 80%;
  }
}
